body {
  background-color: rgb(225, 225, 225);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}


h1 {color:rgb(26, 26, 26);
font-family: Georgia, serif;}
h2 {color:rgb(161, 2, 87);}
h3 {color:rgb(2, 53, 208) 
font-style italic;}
h4 {color:rgb(130, 43, 224);}


h1 {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
