body {
  background-color: rgb(225, 225, 225);
  font-family: "Aller", Aller-Bold, Aller-Light;

}
 main {font-size:2rem}

h1 {color:rgb(26, 26, 26);
font-family: Georgia, serif;}
h2 {color:rgb(161, 2, 87);}
h3 {color:rgb(2, 53, 208) 
font-style italic;}
h4 {color:rgb(252, 108, 216);}


h1 {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}


@font-face {
  font-family: 'Aller';
  src: url('fonts/Aller.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aller-Bold';
  src: url('fonts/Aller-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aller-Light';
  src: url('fonts/Aller-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}



html {
  font-size: 3rem;
}


html {font-size:62.5%;
         box-sizing:border-box;}


         *, *::before, *::after {box-sizing:inherit}

         address {display:flex;
          flex-direction: row;
          background-color: #F4F4F4;
          justify-content: center;
          background-color: bisque;}
        
        
  
  