
body {
  background-color: rgb(243, 183, 234);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body {
  
    cursor: url('http://www.rw-designer.com/cursor-set/hello-kitty-4'), auto;
}

a:hover {
    cursor: url('http://www.rw-designer.com/cursor-set/hello-kitty-4'), pointer;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-family: Helvetica;
  font-size: 20px;
}

img {
  max-width: 300px;
  height: auto;   
  border-radius: 10px;

}
