body {
  background-color: rgb(225, 225, 225);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-family: Helvetica;
  font-size: 20px;
}

img {
  max-width: 300px;
  height: auto;   
  border-radius: 10px;

}
